.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.features__item {
  flex: 0 0 400px;

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }

  &:nth-child(n + 3) {
    margin-top: 60px;
  }
}

.features__item--title {
  @include header-reset();
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.features__item--description {
  @include paragraph-reset();
  margin-top: 24px;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}
